$brand-1: #522;
$brand-2: #34686e;
$brand-3: #3b2255;
$breakpoint-min: 768px;
$breakpoint-max: 1240px;
body {
  font-family: verdana, tahoma;
  margin: 0.5em;
  background: black;
  font-size: 16px;
  @media (min-width: $breakpoint-min) {
    font-size: calc(1.5vw - 0px);
  }
  @media (min-width: $breakpoint-max) {
    font-size: 18px;
  }
}
main {
  max-width: 1600px;
  margin: auto;
}
form {
  @media (min-width: $breakpoint-min) {
    display: flex;
    justify-content: center;
  }
}
* {
  color: lighten($brand-1, 40%);
  font-size: inherit;
}
fieldset {
  position: relative;
  padding: 2em 1em 1em;
  margin: 0.5em auto;
  border: 0;
  background: darken($brand-1, 2%);
  border: 10px outset lighten($brand-1, 15%);
  @media (min-width: $breakpoint-min) {
    width: 50%;
    max-width: 30em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  &.output {
    margin-left: auto;
    margin-right: auto;
    // background: darken($brand-3, 0%);
    // filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
    filter: hue-rotate(-120deg);

    input {
      filter: hue-rotate(-20deg) brightness(120%);
    }
  }
}
legend,
label {
  font-size: inherit;
  text-shadow: 0 0 1px darken($brand-1, 20%), 0 0 2px darken($brand-1, 20%);
}
small {
  font-size: 0.8em;
}
legend {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1;
  text-align: center;
  background: none;
  color: lighten($brand-1, 20%);
  font-weight: bold;
  text-transform: uppercase;
}
.field {
  display: block;
  margin: 0 0 1em;
}
label {
  display: block;
  margin: 0 0 0.5em;
  background: none;
}
.input {
  $p: 0.5em;
  $color: orangered;
  position: relative;
  border: 10px inset lighten($brand-1, 10%);
  font-family: "dseg7_classicregular"; // .seg-14class available
  min-width: 10em;
  background: black;
  overflow: hidden;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    padding: $p;
    display: inline;
    content: "000000000000000000000000000000000000000";
    color: rgba($color, 0.1);
    font-family: inherit;
    pointer-events: none;
  }
  input {
    width: 100%;
    padding: $p;
    background: none;
    color: $color;
    font-weight: bold;
    font-family: inherit;
    border: 0;
    &[disabled] {
      // background: #111;
      border-style: outset;
      color: black;
      background: lighten($brand-2, 20%);
      border-color: $brand-2;
      filter: sepia(100%);
      color: black;
    }
    &:focus {
      outline: none;
      // background: #111;
      // border-style: outset;
      border-color: lighten($brand-1, 5%);
      background: darken($brand-1, 10%);
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      color: rgba($color, 0.2);
    }
  }
}
.seg-14 {
  font-family: "dseg14_classicregular" !important;
}
.figure-wrapper {
  @media (min-width: 800px) {
    display: flex;
    // flex-flow: column;
  }
  justify-content: flex-start;
  align-items: center;
}
aside,
figure {
  $hatch: 0.1em;
  flex-grow: 1;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 0.8em;
  background: repeating-linear-gradient(
    -60deg,
    transparent,
    transparent $hatch,
    rgba(white, 0.1) $hatch,
    rgba(white, 0.1) $hatch * 2
  );
}
ul {
  margin: 0.5em 0;
}
figure {
  max-width: 14em;
  text-align: right;
  // border-radius: 0 3em 0 0 0 0 0 0;
  // border-top-left-radius: 1em 3em;
  // clip: polygon(2em 0, 100% 0, 100% 100%, 0 100%, 0 50%);
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
button {
  cursor: pointer;
  border: 10px outset lighten($brand-1, 15%);
  transition: box-shadow 0.2s ease-out;
  // background: none;
  background: lighten($brand-1, 5%);
  // background: linear-gradient(0deg, rgba(orange, 0.5) 30%, black 50%, black);
  // background-clip: text;
  // color: transparent;
  font-weight: bold;
  $color: darken($brand-1, 15%);
  // Nice idea but just reduces legibility
  // text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 -1px 0 #000,
  //   0 1px 0 lighten($color, 20%);
  color: $color;
  &:hover {
    // border-style: inset;
    box-shadow: 0 0 1em lighten($brand-1, 5%);
  }
}
